@page "/"
@layout Layout.MainLayout
<div>
    <MudPaper Style="background-color: transparent; box-shadow: none">
        @* banner lớn nhất *@
        <div>
            <img width="100%" src="https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/slider_1.jpg?1676015641182" />
        </div>

        @* 2 banner ngay sau *@
        <MudPaper Style="background-color: transparent; box-shadow: none; padding-top: 1.185rem">
            <div class="container pt-3">
                <MudGrid Style="padding: 0; width: 100%">
                    <MudItem xl="4" lg="4" sm="12" md="12" xs="12">
                        <MudPaper Style="background-color: transparent; box-shadow: none">
                            <MudImage Style="width: 100%" Src="https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/banner-3.jpg?1676015641182" />
                        </MudPaper>
                    </MudItem>

                    <MudItem xl="8" lg="8" sm="12" md="12" xs="12">
                        <div>
                            <MudImage Style="width: 100%; height: 408px" Src="https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/banner-4.jpg?1676015641182" />
                        </div>
                    </MudItem>
                </MudGrid>
            </div>
        </MudPaper>
    </MudPaper>

    <section style="padding-top: 40px">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                    <aside>
                        @* danh mục *@
                        <div class="mb-5">

                            <div style="background: url(https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/bg-title.jpg?1662429924636) repeat-x center left #c69c6d; margin-bottom: 30px">
                                <h2 class="w-100" style="display: inline-block; text-transform: uppercase; font-size: 14px; margin: 0; padding: 0 20px; position: relative; line-height: 40px"><span class="text-white">Danh mục sản phẩm</span></h2>
                            </div>

                            <div>
                                <nav>
                                    <ul class="p-0">
                                        <li>
                                            <a class="nav-link" style="font-size: 14px; color: #c69c6d; font-weight: 400; padding: 10px 0; border-bottom: 1px solid #f0ebe2">Sản phẩm mới</a>
                                        </li>

                                        <li>
                                            <a class="nav-link" style="font-size: 14px; color: #c69c6d; font-weight: 400; padding: 10px 0; border-bottom: 1px solid #f0ebe2">Sản phẩm khuyến mãi</a>
                                        </li>

                                        <li>
                                            <a class="nav-link" style="font-size: 14px; color: #c69c6d; font-weight: 400; padding: 10px 0; border-bottom: 1px solid #f0ebe2">Sản phẩm nổi bật</a>
                                        </li>

                                        <li>
                                            <a class="nav-link" style="font-size: 14px; color: #c69c6d; font-weight: 400; padding: 10px 0; border-bottom: 1px solid #f0ebe2">Pizza</a>
                                        </li>

                                        <li>
                                            <a class="nav-link" style="font-size: 14px; color: #c69c6d; font-weight: 400; padding: 10px 0; border-bottom: 1px solid #f0ebe2">Bánh ngọt</a>
                                        </li>

                                        <li>
                                            <a class="nav-link" style="font-size: 14px; color: #c69c6d; font-weight: 400; padding: 10px 0; border-bottom: 1px solid #f0ebe2">Bánh kem</a>
                                        </li>

                                        <li>
                                            <a class="nav-link" style="font-size: 14px; color: #c69c6d; font-weight: 400; padding: 10px 0; border-bottom: 1px solid #f0ebe2">Đồ ăn nhẹ</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        @* menu sản phẩm bán chạy *@
                        <div class="mb-5">

                            <div style="background: url(https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/bg-title.jpg?1662429924636) repeat-x center left #c69c6d; margin-bottom: 30px">
                                <h2 class="w-100" style="display: inline-block; text-transform: uppercase; font-size: 14px; margin: 0; padding: 0 20px; position: relative; line-height: 40px"><span class="text-white">Sản phẩm bán chạy</span></h2>
                            </div>

                            <div style="width: 100%">
                                <div style="padding: 15px 0; border-bottom: 1px solid #f0ebe2">
                                    <div class="row">
                                        <div class="col-4">
                                            <div>
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />
                                            </div>
                                        </div>

                                        <div class="col-8">
                                            <div>

                                                <span style="font-size: 14px">Pizza nhân bò phô mai</span>

                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="padding: 15px 0; border-bottom: 1px solid #f0ebe2">
                                    <div class="row">
                                        <div class="col-4">
                                            <div>
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />
                                            </div>
                                        </div>

                                        <div class="col-8">
                                            <div>

                                                <span style="font-size: 14px">Pizza nhân bò phô mai</span>

                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="padding: 15px 0; border-bottom: 1px solid #f0ebe2">
                                    <div class="row">
                                        <div class="col-4">
                                            <div>
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />
                                            </div>
                                        </div>

                                        <div class="col-8">
                                            <div>

                                                <span style="font-size: 14px">Pizza nhân bò phô mai</span>

                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="padding: 15px 0; border-bottom: 1px solid #f0ebe2">
                                    <div class="row">
                                        <div class="col-4">
                                            <div>
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />
                                            </div>
                                        </div>

                                        <div class="col-8">
                                            <div>

                                                <span style="font-size: 14px">Pizza nhân bò phô mai</span>

                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* menu sản phẩm khuyến mãi *@
                        <div>

                            <div style="background: url(https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/bg-title.jpg?1662429924636) repeat-x center left #c69c6d; margin-bottom: 30px">
                                <h2 class="w-100" style="display: inline-block; text-transform: uppercase; font-size: 14px; margin: 0; padding: 0 20px; position: relative; line-height: 40px"><span class="text-white">Sản phẩm khuyến mãi</span></h2>
                            </div>

                            <div style="width: 100%">
                                <div style="padding: 15px 0; border-bottom: 1px solid #f0ebe2">
                                    <div class="row">
                                        <div class="col-4">
                                            <div>
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />
                                            </div>
                                        </div>

                                        <div class="col-8">
                                            <div>

                                                <span style="font-size: 14px">Pizza nhân bò phô mai</span>

                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="padding: 15px 0; border-bottom: 1px solid #f0ebe2">
                                    <div class="row">
                                        <div class="col-4">
                                            <div>
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />
                                            </div>
                                        </div>

                                        <div class="col-8">
                                            <div>

                                                <span style="font-size: 14px">Pizza nhân bò phô mai</span>

                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="padding: 15px 0; border-bottom: 1px solid #f0ebe2">
                                    <div class="row">
                                        <div class="col-4">
                                            <div>
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />
                                            </div>
                                        </div>

                                        <div class="col-8">
                                            <div>

                                                <span style="font-size: 14px">Pizza nhân bò phô mai</span>

                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="padding: 15px 0; border-bottom: 1px solid #f0ebe2">
                                    <div class="row">
                                        <div class="col-4">
                                            <div>
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />
                                            </div>
                                        </div>

                                        <div class="col-8">
                                            <div>

                                                <span style="font-size: 14px">Pizza nhân bò phô mai</span>

                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>

                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                    @* sản phẩm nổi bật *@
                    <div>
                        <div style="background: url(https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/bg-title.jpg?1662429924636) repeat-x center left #c69c6d; margin-bottom: 30px">
                            <h2 class="w-100" style="display: inline-block; text-transform: uppercase; font-size: 14px; margin: 0; padding: 0 20px; position: relative; line-height: 40px"><span class="text-white">Sản phẩm nổi bật</span></h2>
                        </div>

                        <div>
                            <div class="row">
                                <div class="col-3">
                                    <div>
                                        <div class="hover-opacity-dad" style="position: relative;">
                                            <a href="/food-detail" class="nav-link hover-opacity-child-2" style=" width: 100%">
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />

                                            </a>

                                            <div class="d-flex justify-content-center">
                                                <a href="/food-detail" class="nav-link rounded-2 hover-opacity-child" style="position: absolute; padding: 8px 30px; background-color: #f7b000; color: #ffffff; text-transform: uppercase; font-size: 14px">Mua hàng</a>
                                            </div>
                                        </div>

                                        <div style="padding-bottom: 3rem">
                                            <div style="width: 100%; text-align: center;">
                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>
                                            </div>

                                            <div style="padding: 10px 15px 0 15px; width: 100%; text-align: center;">
                                                <a href="#" class="nav-link">
                                                    <span style="font-size: 14px">Pizza nhân bò phô mai</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div>
                                        <div class="hover-opacity-dad" style="position: relative;">
                                            <a href="#" class="nav-link hover-opacity-child-2" style=" width: 100%">
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />

                                            </a>

                                            <div class="d-flex justify-content-center">
                                                <a href="#" class="nav-link rounded-2 hover-opacity-child" style="position: absolute; padding: 8px 30px; background-color: #f7b000; color: #ffffff; text-transform: uppercase; font-size: 14px">Mua hàng</a>
                                            </div>
                                        </div>

                                        <div style="padding-bottom: 3rem">
                                            <div style="width: 100%; text-align: center;">
                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>
                                            </div>

                                            <div style="padding: 10px 15px 0 15px; width: 100%; text-align: center;">
                                                <a href="#" class="nav-link">
                                                    <span style="font-size: 14px">Pizza nhân bò phô mai</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div>
                                        <div class="hover-opacity-dad" style="position: relative;">
                                            <a href="#" class="nav-link hover-opacity-child-2" style=" width: 100%">
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />

                                            </a>

                                            <div class="d-flex justify-content-center">
                                                <a href="#" class="nav-link rounded-2 hover-opacity-child" style="position: absolute; padding: 8px 30px; background-color: #f7b000; color: #ffffff; text-transform: uppercase; font-size: 14px">Mua hàng</a>
                                            </div>
                                        </div>

                                        <div style="padding-bottom: 3rem">
                                            <div style="width: 100%; text-align: center;">
                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>
                                            </div>

                                            <div style="padding: 10px 15px 0 15px; width: 100%; text-align: center;">
                                                <a href="#" class="nav-link">
                                                    <span style="font-size: 14px">Pizza nhân bò phô mai</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div>
                                        <div class="hover-opacity-dad" style="position: relative;">
                                            <a href="#" class="nav-link hover-opacity-child-2" style=" width: 100%">
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />

                                            </a>

                                            <div class="d-flex justify-content-center">
                                                <a href="#" class="nav-link rounded-2 hover-opacity-child" style="position: absolute; padding: 8px 30px; background-color: #f7b000; color: #ffffff; text-transform: uppercase; font-size: 14px">Mua hàng</a>
                                            </div>
                                        </div>

                                        <div style="padding-bottom: 3rem">
                                            <div style="width: 100%; text-align: center;">
                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>
                                            </div>

                                            <div style="padding: 10px 15px 0 15px; width: 100%; text-align: center;">
                                                <a href="#" class="nav-link">
                                                    <span style="font-size: 14px">Pizza nhân bò phô mai</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* banner khuyến mãi *@
                    <div class="mb-4">
                        <div>
                            <img width="100%" src="https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/mid-banner.jpg?1676015641182" />
                        </div>
                    </div>

                    @* sản phẩm mới *@
                    <div>
                        <div style="background: url(https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/bg-title.jpg?1662429924636) repeat-x center left #c69c6d; margin-bottom: 30px">
                            <h2 class="w-100" style="display: inline-block; text-transform: uppercase; font-size: 14px; margin: 0; padding: 0 20px; position: relative; line-height: 40px"><span class="text-white">Sản phẩm mới</span></h2>
                        </div>

                        <div>
                            <div class="row">
                                <div class="col-3">
                                    <div>
                                        <div class="hover-opacity-dad" style="position: relative;">
                                            <a href="#" class="nav-link hover-opacity-child-2" style=" width: 100%">
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />

                                            </a>

                                            <div class="d-flex justify-content-center">
                                                <a href="#" class="nav-link rounded-2 hover-opacity-child" style="position: absolute; padding: 8px 30px; background-color: #f7b000; color: #ffffff; text-transform: uppercase; font-size: 14px">Mua hàng</a>
                                            </div>
                                        </div>

                                        <div style="padding-bottom: 3rem">
                                            <div style="width: 100%; text-align: center;">
                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>
                                            </div>

                                            <div style="padding: 10px 15px 0 15px; width: 100%; text-align: center;">
                                                <a href="#" class="nav-link">
                                                    <span style="font-size: 14px">Pizza nhân bò phô mai</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div>
                                        <div class="hover-opacity-dad" style="position: relative;">
                                            <a href="#" class="nav-link hover-opacity-child-2" style=" width: 100%">
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />

                                            </a>

                                            <div class="d-flex justify-content-center">
                                                <a href="#" class="nav-link rounded-2 hover-opacity-child" style="position: absolute; padding: 8px 30px; background-color: #f7b000; color: #ffffff; text-transform: uppercase; font-size: 14px">Mua hàng</a>
                                            </div>
                                        </div>

                                        <div style="padding-bottom: 3rem">
                                            <div style="width: 100%; text-align: center;">
                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>
                                            </div>

                                            <div style="padding: 10px 15px 0 15px; width: 100%; text-align: center;">
                                                <a href="#" class="nav-link">
                                                    <span style="font-size: 14px">Pizza nhân bò phô mai</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div>
                                        <div class="hover-opacity-dad" style="position: relative;">
                                            <a href="#" class="nav-link hover-opacity-child-2" style=" width: 100%">
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />

                                            </a>

                                            <div class="d-flex justify-content-center">
                                                <a href="#" class="nav-link rounded-2 hover-opacity-child" style="position: absolute; padding: 8px 30px; background-color: #f7b000; color: #ffffff; text-transform: uppercase; font-size: 14px">Mua hàng</a>
                                            </div>
                                        </div>

                                        <div style="padding-bottom: 3rem">
                                            <div style="width: 100%; text-align: center;">
                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>
                                            </div>

                                            <div style="padding: 10px 15px 0 15px; width: 100%; text-align: center;">
                                                <a href="#" class="nav-link">
                                                    <span style="font-size: 14px">Pizza nhân bò phô mai</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div>
                                        <div class="hover-opacity-dad" style="position: relative;">
                                            <a href="#" class="nav-link hover-opacity-child-2" style=" width: 100%">
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />

                                            </a>

                                            <div class="d-flex justify-content-center">
                                                <a href="#" class="nav-link rounded-2 hover-opacity-child" style="position: absolute; padding: 8px 30px; background-color: #f7b000; color: #ffffff; text-transform: uppercase; font-size: 14px">Mua hàng</a>
                                            </div>
                                        </div>

                                        <div style="padding-bottom: 3rem">
                                            <div style="width: 100%; text-align: center;">
                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>
                                            </div>

                                            <div style="padding: 10px 15px 0 15px; width: 100%; text-align: center;">
                                                <a href="#" class="nav-link">
                                                    <span style="font-size: 14px">Pizza nhân bò phô mai</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* banner khuyến mãi 2 ảnh *@
                    <div class="mb-4">
                        <div class="row">
                            <div class="col-6">
                                <div>
                                    <img src="https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/banner-1.jpg?1676015641182" width="100%" />
                                </div>
                            </div>

                            <div class="col-6">
                                <div>
                                    <img src="https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/banner-2.jpg?1676015641182" width="100%" />
                                </div>
                            </div>
                        </div>
                    </div>

                    @* sản phẩm bán chạy trong tuần *@
                    <div>
                        <div style="background: url(https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/bg-title.jpg?1662429924636) repeat-x center left #c69c6d; margin-bottom: 30px">
                            <h2 class="w-100" style="display: inline-block; text-transform: uppercase; font-size: 14px; margin: 0; padding: 0 20px; position: relative; line-height: 40px"><span class="text-white">Sản phẩm mới</span></h2>
                        </div>

                        <div>
                            <div class="row">
                                <div class="col-3">
                                    <div>
                                        <div class="hover-opacity-dad" style="position: relative;">
                                            <a href="#" class="nav-link hover-opacity-child-2" style=" width: 100%">
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />

                                            </a>

                                            <div class="d-flex justify-content-center">
                                                <a href="#" class="nav-link rounded-2 hover-opacity-child" style="position: absolute; padding: 8px 30px; background-color: #f7b000; color: #ffffff; text-transform: uppercase; font-size: 14px">Mua hàng</a>
                                            </div>
                                        </div>

                                        <div style="padding-bottom: 3rem">
                                            <div style="width: 100%; text-align: center;">
                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>
                                            </div>

                                            <div style="padding: 10px 15px 0 15px; width: 100%; text-align: center;">
                                                <a href="#" class="nav-link">
                                                    <span style="font-size: 14px">Pizza nhân bò phô mai</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div>
                                        <div class="hover-opacity-dad" style="position: relative;">
                                            <a href="#" class="nav-link hover-opacity-child-2" style=" width: 100%">
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />

                                            </a>

                                            <div class="d-flex justify-content-center">
                                                <a href="#" class="nav-link rounded-2 hover-opacity-child" style="position: absolute; padding: 8px 30px; background-color: #f7b000; color: #ffffff; text-transform: uppercase; font-size: 14px">Mua hàng</a>
                                            </div>
                                        </div>

                                        <div style="padding-bottom: 3rem">
                                            <div style="width: 100%; text-align: center;">
                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>
                                            </div>

                                            <div style="padding: 10px 15px 0 15px; width: 100%; text-align: center;">
                                                <a href="#" class="nav-link">
                                                    <span style="font-size: 14px">Pizza nhân bò phô mai</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div>
                                        <div class="hover-opacity-dad" style="position: relative;">
                                            <a href="#" class="nav-link hover-opacity-child-2" style=" width: 100%">
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />

                                            </a>

                                            <div class="d-flex justify-content-center">
                                                <a href="#" class="nav-link rounded-2 hover-opacity-child" style="position: absolute; padding: 8px 30px; background-color: #f7b000; color: #ffffff; text-transform: uppercase; font-size: 14px">Mua hàng</a>
                                            </div>
                                        </div>

                                        <div style="padding-bottom: 3rem">
                                            <div style="width: 100%; text-align: center;">
                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>
                                            </div>

                                            <div style="padding: 10px 15px 0 15px; width: 100%; text-align: center;">
                                                <a href="#" class="nav-link">
                                                    <span style="font-size: 14px">Pizza nhân bò phô mai</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div>
                                        <div class="hover-opacity-dad" style="position: relative;">
                                            <a href="#" class="nav-link hover-opacity-child-2" style=" width: 100%">
                                                <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />

                                            </a>

                                            <div class="d-flex justify-content-center">
                                                <a href="#" class="nav-link rounded-2 hover-opacity-child" style="position: absolute; padding: 8px 30px; background-color: #f7b000; color: #ffffff; text-transform: uppercase; font-size: 14px">Mua hàng</a>
                                            </div>
                                        </div>

                                        <div style="padding-bottom: 3rem">
                                            <div style="width: 100%; text-align: center;">
                                                <span style="color: #c69c6d; font-size: 14px">340.000<i class="fa-solid fa-dong-sign" style="color: #c69c6d;"></i></span>
                                            </div>

                                            <div style="padding: 10px 15px 0 15px; width: 100%; text-align: center;">
                                                <a href="#" class="nav-link">
                                                    <span style="font-size: 14px">Pizza nhân bò phô mai</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* thương hiệu nổi bật *@
            <section>
                <div>
                    <div>
                        <span style="font-size: 14px; text-transform: uppercase; font-weight: 600">Thương hiệu nổi bật</span>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
                                <div>
                                    <img src="https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/brand_image_1.png?1676015641182" width="100%" />
                                </div>
                            </div>

                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
                                <div>
                                    <img src="https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/brand_image_1.png?1676015641182" width="100%" />
                                </div>
                            </div>

                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
                                <div>
                                    <img src="https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/brand_image_1.png?1676015641182" width="100%" />
                                </div>
                            </div>

                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
                                <div>
                                    <img src="https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/brand_image_1.png?1676015641182" width="100%" />
                                </div>
                            </div>

                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
                                <div>
                                    <img src="https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/brand_image_1.png?1676015641182" width="100%" />
                                </div>
                            </div>

                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
                                <div>
                                    <img src="https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/brand_image_1.png?1676015641182" width="100%" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>

